.about {
  background-color: var(--color-blog);
  padding: 1.5rem;

  font-family: var(--font-family);
  margin-top: 3rem;
}

.about__main {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;

  @media screen and (max-width: 912px) {
    flex-wrap: wrap;
  }

  p {
    color: var(--color-text);
    margin-left: 2rem;
    max-width: 600px;

    @media screen and (max-width: 912px) {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  }
}

.about__possibility {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;

  @media screen and (max-width: 912px) {
    flex-wrap: wrap;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 45px;
    font-weight: 800;
    max-width: 510px;

    @media screen and (max-width: 912px) {
      font-size: 2.3rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.8rem;
      line-height: 37px;
    }
  }
  p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 30px;

    @media screen and (max-width: 912px) {
      margin-top: 1.5rem;
    }
  }
}
