.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--gradient-bar);
  width: 80%;
  margin: 6rem auto;
  border-radius: 1rem;
  border: 1px solid #fff;

  font-family: var(--font-family);

  flex-wrap: wrap;

  button {
    padding: 0.6rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    border-radius: 5px;
    border: none;
    outline: none;

    cursor: pointer;

    @media screen and (max-width: 1013px) {
      margin: 1rem auto;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0e0e0e;

    @media screen and (max-width: 1013px) {
      text-align: center;
    }
  }
}
