.about__features {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 846px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  div {
    @media screen and (max-width: 846px) {
      margin-bottom: 1.5rem;
      text-align: center;
    }
    p {
      color: var(--color-text);
      margin-top: 1rem;

      @media screen and (max-width: 846px) {
        margin-top: 0.5rem;
      }
    }
  }
}
